.main__about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem;
}

.about-us__img{
    width: 30rem;
}

.about-us__desc{
    width: 40rem;
    text-align: center;
    font-size: var(--fuente-normal)
}