.home__banner{
    width: 100vw;
    height: 80vh;
    padding: 2rem;

    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(https://cdn.printnetwork.com/production/assets/themes/5966561450122033bd4456f8/imageLocker/67db32c4d75c73b514fc3224/product-description/product-description/1746487996182/Retail-Banners-Gallery-5.jpg);
    background-size: cover;

    display: flex;
    align-items: center;
}

.home__titulo{
    color: #fff;
    text-transform: capitalize;
    max-width: 1rem;
    text-wrap-mode: wrap;
    font-size: var(--size-banner)
}

.home__subtitulo{
    font-size: var(--fuente-grande);
    margin: 2rem;
}

.home__container{
    /* background-color: red; */
    width: 80vw;
    padding: 1rem;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5,1fr);
}