.header{
    width: 100vw;
    height: var(--altura-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding: 0 2rem;
  /* box-shadow: 1px 1px 10px rgb(184, 183, 183); */
  top: 0;
  left: 0;
  background-color: var(--color-primario);
  color: #fff;
    font-family: var(--fuente-titulos);
}

.header__logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__links-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__logo{
    width: 5rem;
    height: 4rem;
}

.header__titulo{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--fuente-normal);
}

.header__links{
  color: #fff;
  text-decoration: none;
}
